<%= form_for(@user) do |f| %>
  <%= render 'layouts/object_errors', object: @user %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :nick_name %>
    <%= f.text_field :nick_name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 5 %>
  </div>
  <div class="field">
    <%= f.label :birthday %>
    <%= f.date_select :birthday, start_year: 1950, end_year: Time.now.year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
