<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<p>
  <b>Nick name:</b>
  <%= @user.nick_name %>
</p>

<p>
  <b>Description:</b>
  <%= @user.description %>
</p>

<p>
  <b>Birthday:</b>
  <%= @user.birthday %>
</p>

<h2>Lotteries</h2>
<ul>
  <% @user.lotteries.each do |lottery| %>
    <li><%= lottery.title %></li>
  <% end %>
</li>

<%= link_to 'Edit user', edit_user_path(@user) %> |
<%= link_to 'All users', users_path %>
