<h1>Listing prizes</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Lottery</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prizes.each do |prize| %>
  <tr>
    <td><%= prize.name %></td>
    <td><%= prize.description %></td>
    <td><%= prize.lottery.title %></td>
    <td><%= link_to 'Show', prize %></td>
    <td><%= link_to 'Edit', edit_prize_path(prize) %></td>
    <td><%= link_to 'Destroy', prize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<div class="alert alert-info">
  <strong>Note!</strong> New prizes are added on the edit lottery page
</div>