<p id="notice"><%= notice %></p>

<h1><%= @prize.name %></h1>

<p>
  <b>Description:</b>
  <%= @prize.description %>
</p>

<p>
  <b>Lottery:</b>
  <%= @prize.lottery.title %>
</p>


<%= link_to 'Edit prize', edit_prize_path(@prize) %> |
<%= link_to 'All prizes', prizes_path %>
