<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @prize.name %>
</p>

<p>
  <b>Description:</b>
  <%= @prize.description %>
</p>

<p>
  <b>Lottery:</b>
  <%= @prize.lottery.title %>
</p>


<%= link_to 'Edit', edit_prize_path(@prize) %> |
<%= link_to 'Back', prizes_path %>
